.gradient-custom {
background: #2C2B2B; /* Fallback para navegadores muito antigos */
background: -webkit-linear-gradient(to bottom, #2C2B2B, #020202); /* Para navegadores WebKit */
background: linear-gradient(to bottom, #2C2B2B, #020202); /* Gradiente padrão */

}

.form-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
}

.form-input-container .form-label {
  margin-bottom: 8px;
}

.form-input-container .form-control {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
